* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 62.6%;
  line-height: 1.5;
  color: #555;
  background: #EFF1F5;
}
.wrapper {
  width: 80%;
  width: calc(100% - 2.5em);
  margin: 1em auto;
}


h1 {
  font-size: 2.5rem;
  font-weight: normal;
  border-bottom: 2px solid #ccc;
}

ul {
  columns: 3;
  @media all and (max-width: 800px) {
    columns: 2;
  }
  @media all and (max-width: 500px) {
    columns: 1;
  }
}

li {
  padding: 0 3.5em 2em 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  span {
    margin-left: .35em;
    font-size: 1.6rem;
  }

  .icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    fill: #848484;
  }
  &:hover {
    .icon {
      fill: #24B54F;
    }
  }

}
